/*Simple Stylesheet*/

.slanted-bg-image {
  display: block;
  width: 100%;
  height: 500px;
background-color: teal;

}

.title {
  color: white;
  padding-top: 10%;
  text-align: center;
  font-family: Arial;
}

body {
   font-family: Arial;
   background-color: #F1F1F1;
   text-align: center;
}

h2+p {
   border: 2px solid teal;
}


.color-text {
   color: rgb(28, 205, 202);
}

/.text-container {
  background-color: rgb(255, 255, 0.5,);
  width: 400px;
  position: absolute;
}
